.elknode {
    stroke: #448;
    stroke-width: 1;
    fill: #ddf;
}

.elkport {
    stroke: #448;
    stroke-width: 1;
    fill: #66c;
}

.elkedge {
    fill: none;
    stroke: #224;
    stroke-width: 1;
}

.elkedge.arrow {
    fill: #336;
}

.elklabel {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 10pt;
    dominant-baseline: hanging;
}

.elkjunction {
    stroke: none;
    fill: #224;
}

.selected > rect {
    stroke-width: 3;
}

.mouseover {
    stroke: #88f;
}
