<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ELK Examples</title>
    <link rel="icon" type="image/svg+xml" href="img/elk_fav.svg">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="sprotty/sprotty.css">
    <link rel="stylesheet" href="common.css">
	<link rel="stylesheet" href="diagram.css">
    <style>
        body {
            min-height: 100vh;
        }
        .sidebar-heading {
            font-size: .75rem;
        }
        .sidebar-link {
            font-size: .9rem;
        }
        .vh-50 {
            height: 50vh!important;
        }
        #title {
            font-size: 1.9rem;
            font-weight: 300;
            line-height: 1.2;
        }
        #title-small {
            font-size: 70%;
            font-weight: 100;
        }
	</style>
</head>
<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-sm navbar-default flex-nowrap">
        <a class="navbar-brand w-100" href="index.html">
            <img src="img/elk_small.svg" height="30" class="d-inline-block align-top mr-1" alt="">
            ELK Demonstrators
        </a>
        <div class="w-100 text-center">
             <span class="navbar-brand mb-0 h1">Examples</span>
        </div>
        <div class="w-100">
            <form class="form-inline float-right">
                <select id="elk-version" class="custom-select">
                    <%= htmlWebpackPlugin.options.layoutOptionVersions %>
                </select>
            </form>
        </div>
    </nav>
    
    <div class="container-fluid flex-fill d-flex border-top">
        <div class="row flex-fill">
            <div class="col-md-2 d-none d-md-block sidebar border-right bg-light">
                <ul id="toc" class="nav flex-column"></ul>
            </div>
            <div class="col pt-4">
                <div class="row flex-fill"> <!--  -->
                    <div class="col w-50 p-1">
                        <div id="example-graph" class="vh-50"></div>
                        <div id="loading-editor" class="mx-2 loading"></div>
                    </div>
                    <div class="col w-50 p-1">
                        <div id="sprotty" class="vh-50"></div>
                        <div id="loading-sprotty" class="mx-2 loading"></div>
                    </div>
                </div>
                <div class="row flex-fill justify-content-center border-top m-2 pt-2">
                    <div class="col-md-6 p-1 justify-content-center">
                        <h4><small id="title-small" class="text-muted"></small><br /><span id="title"></span></h4>
                        <div id="example-description" class="text-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer border-top p-3">
        <div class="container-fluid d-flex">
            <div class="flex-grow-1 text-right">
                <a href="https://github.com/kieler/elkgraph-web">EGW</a> commit <%= htmlWebpackPlugin.options.currentGitCommit %>.
            </div>
        </div>
    </footer>

    <script src="vs/loader.js"></script>
    <script src="examples.bundle.js"></script>
	<script src="jquery/jquery.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
