<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ELK Editor (json)</title>
    <link rel="icon" type="image/svg+xml" href="img/elk_fav.svg">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="sprotty/sprotty.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="diagram.css">
	<style>
        body {
            min-height: 100vh;
        }
	</style>
</head>
<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-sm navbar-default flex-nowrap">
		<a class="navbar-brand w-100" href="index.html">
            <img src="img/elk_small.svg" height="30" class="d-inline-block align-top mr-1" alt="">  
            ELK Demonstrators
        </a>
        <div class="w-100 text-center">
             <span class="navbar-brand mb-0 h1">ELK JSON Editor</span>
        </div>
        <div class="w-100">
            <form class="form-inline float-right">
                <select id="elk-version" class="custom-select">
                    <option value="latest" selected>@latest (<%= htmlWebpackPlugin.options.latestVersion %>)</option>
                    <option value="5">0.5.1</option>
                    <option value="4">0.4.1</option>
                    <option value="3">0.3.0</option>
                    <option value="next">@next (<%= htmlWebpackPlugin.options.nextVersion %>)</option>
                </select>
            </form>
        </div>
	</nav>
    
    <div class="container-fluid flex-fill d-flex border-top pt-4">
		<div class="row flex-fill">
			<div class="col w-50 p-1 border-right">
                <div id="monaco-editor" class="h-100" data-input-type="json"></div>
                <div id="loading-editor" class="mx-2 loading"></div>
			</div>
			<div class="col w-50 p-1">
                <div id="sprotty" class="h-100"></div>
                <div id="loading-sprotty" class="mx-2 loading"></div>
			</div>
		</div>
	</div>

	<footer class="footer border-top p-3 mt-4">
		<div class="container-fluid d-flex">
            <div>
                <a id="model-link" href="#">Link to this model</a>
            </div>
            <div class="flex-grow-1 text-right">
                <a href="https://github.com/kieler/elkgraph-web">EGW</a> commit <%= htmlWebpackPlugin.options.currentGitCommit %>.
            </div>
		</div>
	</footer>

	<script src="vs/loader.js"></script>
	<script src="json.bundle.js"></script>
	<script src="jquery/jquery.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>